body{
	font-family: $oswald;
	background-size: cover;
	max-width: 100%;
}
header{
	position: absolute;
	width: 100%;
	.menu_block{
		display: flex;
	    justify-content: flex-end;
	    height: 50px;
		.navigation{
			padding: 10px 0 0 20px;
			display: none;
			background: #F7654A;
			li{
				margin-right: 20px;
				display: inline-block;
				a{
					text-decoration: none;
					color: #fff;
					&:hover{
						border-bottom: 2px dashed #fff;
					}
				}
			}
		}
		.navigationActive{
			display: block;
		}
		.burger{
			float: right;
			position: relative;
			width: 50px;
			height: 50px;
			cursor: pointer;
			background: #F7654A;
			.line{
				width: 21px;
				height: 3px;
				display: block;
				background: #fff;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				transition: .2s all linear;
			}
			.one{
				top: 13px;
			}
			.two, .three{
				top: 50%;
				transform: translateY(-50%);
			}
			.four{
				bottom: 13px;
			}
		}
		.burgerActive{
			.one, .four{
				opacity: 0;
			}
			.two{
				transform: translateY(-50%) rotate(45deg);
			}
			.three{
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
}
.mainBg{
	background: url(../img/Rectangle.jpg);
	height: 740px;
	.size64{
		margin-top: 192px;
		line-height: 95px;
		letter-spacing: 0.02em;
		color: #fff;
	}
	.size18{
		margin-top: 35px;
		line-height: 27px;
		color: #fff;
	}
}
.years{
	margin-top: -150px;
	padding: 57px 0 57px 0;
	background: #F7F7F7;
}
.images{
	img{
		height: auto;
		width: 25%;
	}
	font-size: 0;
	width: 100%;
}
footer{
	.titleS{
		padding: 30px 0 30px 0;
		color: #fff;
	}
	.right{
		text-align: right;
	}
}