.size14{
	font-size: $font-size14;
}
.size16{
	font-size: $font-size16;
}
.size18{
	font-size: $font-size18;
}
.size21{
	font-size: $font-size21;
}
.size24{
	font-size: $font-size24;
}
.size36{
	font-size: $font-size36;
}
.size48{
	font-size: $font-size48;
}
.size64{
	font-size: $font-size64;
}
.size72{
	font-size: $font-size72;
}
.size96{
	font-size: $font-size96;
}