.colorBg{
	background: #F7654A;
	padding: 30px 0 30px 0;
	.size48{
		font-weight: bold;
		line-height: 71px;
		letter-spacing: 0.02em;
		color: #fff;
	}
	.size24{
		font-weight: bold;
		line-height: 36px;
		letter-spacing: 0.02em;
		color: #fff;
	}
	.yourRequest{
	    display: flex;
		justify-content: flex-end;
	    align-self: end;
		a{
			margin-top: 43px;
			text-decoration:none;
			background: #fff;
			padding: 14px 30px;
			.size14{
				display: inline-block;
				color: #000;
				line-height: 21px;
				letter-spacing: 0.05em;
			}
		}
	}
}
.darkBg{
	background: #404149;
	.size36{
		color: #fff;
	}
	.partners{
		padding-bottom: 100px;
		img{
			width: 100%;
		    height: auto;
		}
	}
}
.titleB{
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	color: #000;
}
.titleS{
	font-family: $openSans;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	color: #999999;
}
.age{
	.size72{
		line-height: 107px;
		color: #F7654A;
	}
	.size36{
		color: #000;
	}
	.size18{
		line-height: 27px;
		text-align: center;
		color: #999;
	}
}
.project{
	img{
		height: auto;
		width: 100%;
	}
	span{
		margin-top: 45px;
		display: block;
		width: 55px;
		height: 6px;
		background: #F7654A;
	}
	.size24{
		color: #404149;
	}
}
.service{
	margin-bottom: 30px;
	padding: 59px;
	background: #F7F7F7;
	text-align: center;
	.size21{
		line-height: 31px;
		letter-spacing: 0.02em;
	}
}
.answer{
	margin-bottom: 40px;
	.arrow{
		cursor: pointer;
	}
	.titleS{
		display: none;
	}
	&.active{
		.titleS{
			display: block;
		}
		.arrow{
			transform: rotate(90deg);
		}
	}
	.size24{
		line-height: 36px;
		color: #F7654A;
		display: inline-block;
	}
}
.review{
	padding: 38px 30px;
	background: #F7F7F7;
}
.name{
	.size21{
		line-height: 31px;
		letter-spacing: 0.02em;
	}
	span{
		color: #F7654A;
	}
}
.contact{
	text-align: center;
	font-size: 24px;
	line-height: 36px;
	.size24{
		margin-top: 25px;
		color: #999999;
	}
	.color{
		color: #F7654A;
	}
}



















