//---------------- TOP ----------------- 
.marginTop10{
	margin-top: 10px;
}
.marginTop15{
	margin-top: 15px;
}
.marginTop20{
	margin-top: 20px;
}
.marginTop30{
	margin-top: 30px;
}
.marginTop50{
	margin-top: 50px;
}
.marginTop60{
	margin-top: 60px;
}
.marginTop64{
	margin-top: 64px;
}
.marginTop66{
	margin-top: 66px;
}
.marginTop100{
	margin-top: 100px;
}
.marginTop110{
	margin-top: 110px;
}
.marginTop150{
	margin-top: 150px;
}

//---------------- RIGHT ----------------- 
.marginRight15{
	margin-right: 15px;
}