.colorBg {
  background: #F7654A;
  padding: 30px 0 30px 0; }
  .colorBg .size48 {
    font-weight: bold;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #fff; }
  .colorBg .size24 {
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #fff; }
  .colorBg .yourRequest {
    display: flex;
    justify-content: flex-end;
    align-self: end; }
    .colorBg .yourRequest a {
      margin-top: 43px;
      text-decoration: none;
      background: #fff;
      padding: 14px 30px; }
      .colorBg .yourRequest a .size14 {
        display: inline-block;
        color: #000;
        line-height: 21px;
        letter-spacing: 0.05em; }

.darkBg {
  background: #404149; }
  .darkBg .size36 {
    color: #fff; }
  .darkBg .partners {
    padding-bottom: 100px; }
    .darkBg .partners img {
      width: 100%;
      height: auto; }

.titleB {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #000; }

.titleS {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  color: #999999; }

.age .size72 {
  line-height: 107px;
  color: #F7654A; }
.age .size36 {
  color: #000; }
.age .size18 {
  line-height: 27px;
  text-align: center;
  color: #999; }

.project img {
  height: auto;
  width: 100%; }
.project span {
  margin-top: 45px;
  display: block;
  width: 55px;
  height: 6px;
  background: #F7654A; }
.project .size24 {
  color: #404149; }

.service {
  margin-bottom: 30px;
  padding: 59px;
  background: #F7F7F7;
  text-align: center; }
  .service .size21 {
    line-height: 31px;
    letter-spacing: 0.02em; }

.answer {
  margin-bottom: 40px; }
  .answer .arrow {
    cursor: pointer; }
  .answer .titleS {
    display: none; }
  .answer.active .titleS {
    display: block; }
  .answer.active .arrow {
    transform: rotate(90deg); }
  .answer .size24 {
    line-height: 36px;
    color: #F7654A;
    display: inline-block; }

.review {
  padding: 38px 30px;
  background: #F7F7F7; }

.name .size21 {
  line-height: 31px;
  letter-spacing: 0.02em; }
.name span {
  color: #F7654A; }

.contact {
  text-align: center;
  font-size: 24px;
  line-height: 36px; }
  .contact .size24 {
    margin-top: 25px;
    color: #999999; }
  .contact .color {
    color: #F7654A; }

body {
  font-family: "Oswald", sans-serif;
  background-size: cover;
  max-width: 100%; }

header {
  position: absolute;
  width: 100%; }
  header .menu_block {
    display: flex;
    justify-content: flex-end;
    height: 50px; }
    header .menu_block .navigation {
      padding: 10px 0 0 20px;
      display: none;
      background: #F7654A; }
      header .menu_block .navigation li {
        margin-right: 20px;
        display: inline-block; }
        header .menu_block .navigation li a {
          text-decoration: none;
          color: #fff; }
          header .menu_block .navigation li a:hover {
            border-bottom: 2px dashed #fff; }
    header .menu_block .navigationActive {
      display: block; }
    header .menu_block .burger {
      float: right;
      position: relative;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background: #F7654A; }
      header .menu_block .burger .line {
        width: 21px;
        height: 3px;
        display: block;
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transition: .2s all linear; }
      header .menu_block .burger .one {
        top: 13px; }
      header .menu_block .burger .two, header .menu_block .burger .three {
        top: 50%;
        transform: translateY(-50%); }
      header .menu_block .burger .four {
        bottom: 13px; }
    header .menu_block .burgerActive .one, header .menu_block .burgerActive .four {
      opacity: 0; }
    header .menu_block .burgerActive .two {
      transform: translateY(-50%) rotate(45deg); }
    header .menu_block .burgerActive .three {
      transform: translateY(-50%) rotate(-45deg); }

.mainBg {
  background: url(../img/Rectangle.jpg);
  height: 740px; }
  .mainBg .size64 {
    margin-top: 192px;
    line-height: 95px;
    letter-spacing: 0.02em;
    color: #fff; }
  .mainBg .size18 {
    margin-top: 35px;
    line-height: 27px;
    color: #fff; }

.years {
  margin-top: -150px;
  padding: 57px 0 57px 0;
  background: #F7F7F7; }

.images {
  font-size: 0;
  width: 100%; }
  .images img {
    height: auto;
    width: 25%; }

footer .titleS {
  padding: 30px 0 30px 0;
  color: #fff; }
footer .right {
  text-align: right; }

.marginTop10 {
  margin-top: 10px; }

.marginTop15 {
  margin-top: 15px; }

.marginTop20 {
  margin-top: 20px; }

.marginTop30 {
  margin-top: 30px; }

.marginTop50 {
  margin-top: 50px; }

.marginTop60 {
  margin-top: 60px; }

.marginTop64 {
  margin-top: 64px; }

.marginTop66 {
  margin-top: 66px; }

.marginTop100 {
  margin-top: 100px; }

.marginTop110 {
  margin-top: 110px; }

.marginTop150 {
  margin-top: 150px; }

.marginRight15 {
  margin-right: 15px; }

.size14 {
  font-size: 14px; }

.size16 {
  font-size: 16px; }

.size18 {
  font-size: 18px; }

.size21 {
  font-size: 21px; }

.size24 {
  font-size: 24px; }

.size36 {
  font-size: 36px; }

.size48 {
  font-size: 48px; }

.size64 {
  font-size: 64px; }

.size72 {
  font-size: 72px; }

.size96 {
  font-size: 96px; }

/*# sourceMappingURL=main.css.map */
