
/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 

	/*.size14{ font-size: 11px; }*/
	.size16{ font-size: 14px; }
	.size18{ font-size: 14px; }
	.size21{ font-size: 15px; }
	.size24{ font-size: 18px; }
	.size36{ font-size: 27px; }
	.size48{ font-size: 36px; }
	.size64{ font-size: 48px; }
	.size72{ font-size: 54px; }
	.marginTop150 { margin-top: 112px; }
	.marginTop110 { margin-top: 82px; }
	.marginTop100 { margin-top: 75px; }
	.marginTop66 { margin-top: 49px; }
	.marginTop64 { margin-top: 48px; }
	.marginTop60 { margin-top: 45px; }
	.marginTop50 { margin-top: 37px; }
	.marginTop30 { margin-top: 22px; }
	.marginTop20 { margin-top: 15px; }
	.marginTop15 { margin-top: 10px; }
	.titleS{ line-height: 18px; }
	.contact{ 
		font-size: 18px;
		line-height: 27px;
	}
	.mainBg { height: 555px; }
	.mainBg .size64{
		margin-top: 145px;
		line-height: 70px;
	}
	.mainBg .size18 {
	    margin-top: 25px;
	    line-height: 20px;
	}
	.years {
	    margin-top: -115px;
	    padding: 42px 0 42px 0;
	}
	.age .size72 { line-height: 75px; }
	.project span { margin-top: 33px; }
	.colorBg { padding: 22px 0 22px 0; }
	.colorBg .size48 {
	    line-height: 52px;
	}
	.colorBg .size24 {
	    line-height: 27px;
	}
	.colorBg .yourRequest a {
	    margin-top: 30px;
	    padding: 10px 22px;
	}
	.colorBg .yourRequest a .size14 { line-height: 15px; }
	.service {
	    margin-bottom: 22px;
	    padding: 45px;
	}
	.service .size21 { line-height: 22px; }
	.answer { margin-bottom: 30px; }
	.answer .size24 { line-height: 27px; }
	.darkBg .partners { padding-bottom: 75px; }
	.review { padding: 28px 22px; }
	.contact .size24 { margin-top: 18px; }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.colorBg .size48 { text-align: center; }
	.colorBg .size24 { text-align: center; } 
	.colorBg .yourRequest { justify-content: center; }
	.service {
	    margin-bottom: 18px;
	    padding: 37px;
	}
	.service .size21 { line-height: 18px; }
	.images img { width: 33.333%; }
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) { 
	.size14{ font-size: 14px; }
	.size16{ font-size: 14px; }
	.size18{ font-size: 14px; }
	.size21{ font-size: 15px; }
	.size24{ font-size: 16px; }
	.size36{ font-size: 18px; }
	.size48{ font-size: 24px; }
	.size64{ font-size: 32px; }
	.size72{ font-size: 36px; }
	.marginTop150 { margin-top: 75px; }
	.marginTop110 { margin-top: 55px; }
	.marginTop100 { margin-top: 50px; }
	.marginTop66 { margin-top: 33px; }
	.marginTop64 { margin-top: 32px; }
	.marginTop60 { margin-top: 30px; }
	.marginTop50 { margin-top: 25px; }
	.marginTop30 { margin-top: 15px; }
	.marginTop20 { margin-top: 10px; }
	.marginTop15 { margin-top: 7px; }
	.titleS{ line-height: 18px; }
	.contact{ 
		font-size: 14px;
		line-height: 18px;
	}
	.mainBg { height: 370px; }
	.mainBg .size64{
		margin-top: 100px;
		line-height: 50px;
	}
	.mainBg .size18 {
	    margin-top: 15px;
	    line-height: 13px;
	}
	.years {
	    margin-top: -75px;
	    padding: 28px 0 28px 0;
	}
	.age .size72 { line-height: 50px; }
	.project span { margin-top: 22px; }
	.colorBg { padding: 15px 0 15px 0; }
	.colorBg .size48 {
	    text-align: center;
	    line-height: 35px;
	}
	.colorBg .size24 {
	    text-align: center;
	    line-height: 18px;
	}
	.colorBg .yourRequest { justify-content: center; }
	.colorBg .yourRequest a {
	    margin-top: 20px;
	    padding: 7px 15px;
	}
	.colorBg .yourRequest a .size14 { line-height: 10px; }
	.service {
	    margin-bottom: 15px;
	    padding: 30px;
	}
	.service .size21 { line-height: 15px; }
	.answer { margin-bottom: 20px; }
	.answer .size24 { line-height: 18px; }
	.darkBg .partners { padding-bottom: 50px; }
	.review { padding: 19px 15px; }
	.contact .size24 { margin-top: 12px; }
	.images img { width: 50%; }
	.project img { width: 50%; }
}